* {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
    }
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background: $body-bg;
    @include whitneyBook();
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba($black, .25);
    // transition: border-color .2s;

    &:hover {
        // color: $link-color-hover;
        // text-decoration: underline;
        border-color: rgba($black, .75);
    }

    &.no-border {
      border: 0;
    }
}

img {
    max-width: 100%;
}

textarea {
    resize: vertical;
}

h1 {
    @include sentinelMedium();
}

h2 {
    @include sentinelMedium();
}

h3 {
    // @include whitneySemibold();
}

q {
    display: block;
    color: $brand-primary;
    position: relative;

    @include sentinelMedium();

    &:before {
        position: absolute;
        right: 100%
    }
}
