// Core functionality / settings
@import 'core/functions';
@import 'core/variables';
@import 'core/placeholders';
@import 'core/mixins';

// Vendor assets
@import 'vendor/normalize';

// Base styles
@import 'base/global';
@import 'base/grid';
// @import 'base/print';

// Components
// @import 'components/navs';
// @import 'components/forms';
// @import 'components/buttons';

// Layout
@import 'layout/header';
// @import 'layout/footer';

// Helpers
@import 'helpers/clearfix';
// @import 'helpers/center';
// @import 'helpers/margin';
@import 'helpers/padding';
// @import 'helpers/text-align';
@import 'helpers/background';
@import 'helpers/color';
// @import 'helpers/hide';
// @import 'helpers/show';

.section {
    position: relative;
}

.section__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    opacity: .8;
}

.section__content {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section--hero {
    h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 5px;
    }

    p {
        font-size: 22px;
        max-width: 32em;
    }
}

.section--intro {
    h3 {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 10px;

        @include media(lg) {
            font-size: 20px
        }
    }

    q {
        font-size: 20px;
        margin-bottom: 5px;

        @include media(sm) {
            font-size: 28px;
        }

        @include media(lg) {
            font-size: 34px
        }
    }

    p {
        font-size: 16px;
        line-height: 32px;
        margin-top: 50px;

        @include media(sm) {
            font-size: 18px;
        }

        @include media(lg) {
            font-size: 20px
        }
    }
}

.portrait {
    position: relative;
    // min-height: 300px;
    padding-top: 100%;
    overflow: hidden;

    @include media(sm) {
        // min-height: 400px;
    }

    @include media(lg) {
        min-height: 480px;
        padding-top: inherit;
    }

    .portrait__image {
        position: absolute;
        top: -10%;
        left: -40%;
        width: 180%;
        height: 180%;
        background-size: cover;
        background-position: center center;
    }
}

.section--about {

    .section__title {
        font-size: 34px;
        font-weight: normal;
        margin-bottom: 0;
    }

    p {
        font-size: 18px;
        line-height: 36px;
    }
}

.section--events {
    background-color: $brand-tertiary;
    color: $brand-secondary;
    padding-top: 75px;
    // font-size: 18px;

    .section__title {
        font-size: 34px;
        font-weight: normal;
        color: $brand-primary;
        margin-bottom: 0;
    }

    .section__intro {
        font-size: 20px;
        line-height: 36px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
    }
}

.section__rule {
    height: 1px;
    background-color: $brand-secondary;
    border: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}
