.event {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dedddb;
}

.event__date {
    font-size: 14px;
    @include whitneySemibold();
}

.event__title {
    font-size: 20px;
    @include sentinelMedium();
    margin-top: 0;
    margin-bottom: 0;
}

.events-heading {
    color: $brand-primary;
    @include whitneyBook();
}
