.section {
    position: relative;
}

.section__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.section__background--faded {
    opacity: .6;
}

.section__content {
    // padding-top: 100px;
    // padding-bottom: 100px;
}

.section__caption {
    position: absolute;
    right: 0;
    bottom: 0;
}

.section__title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 5px;
}

.section__lead {
    font-size: 18px;
    line-height: 32px;

    @include media(lg) {
        font-size: 20px;
    }
}

.section--hero {
    color: $white;
    background-color: $black;

    @include media(md) {
        padding-top: 200px;
    }

    .section__content {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section__background {
        background-position: 50% 0;
        opacity: .8;
    }

    .section__title {
        font-size: 48px;

        @include media(lg) {
            font-size: 62px;
        }
    }

    .section__lead {
        @include media(md) {
            max-width: 32em;
            font-size: 24px;
        }
    }
}

.section--intro {
    background-color: $brand-secondary;
    color: $white;

    .section__title {
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 10px;

        @include whitneySemibold();

        @include media(lg) {
            font-size: 20px;
        }
    }

    q {
        font-size: 20px;
        margin-bottom: 5px;

        @include media(sm) {
            font-size: 28px;
        }

        @include media(lg) {
            font-size: 34px;
        }
    }

    .section__lead {
        margin-top: 50px;
        margin-bottom: 50px;

        @include media(sm) {
            font-size: 18px;
        }

        @include media(lg) {
            font-size: 20px;
        }
    }
}

.section--about {
    color: $brand-secondary;

    .section__content {
        @include media(lg) {
            padding-top: 40px;
            padding-left: 20px;
        }
    }

    .section__title {
        font-style: italic;
    }
}

.section--events {
    padding-top: 75px;
    padding-bottom: 75px;

    .section__title {
        color: $brand-primary;
    }

    .section__lead {
        color: $brand-secondary;
    }
}
