
.section {
    position: relative;
}

.section__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.section__background--faded {
    opacity: .8;
}

.section__content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section--hero {
    color: $white;

    @include media(md) {
        padding-top: 200px;
    }

    .section__background {
        background-position: 50% 0;
    }

    .section__title {
        font-weight: 400;
        line-height: 1;
        margin-bottom: 5px;
        font-size: 48px;

        @include media(md) {
            font-size: 60px;
        }
    }

    p {
        font-size: 22px;
        max-width: 32em;
    }
}

.section--intro {
    background-color: $brand-secondary;
    color: $white;

    h3 {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 10px;

        @include media(lg) {
            font-size: 20px;
        }
    }

    q {
        font-size: 20px;
        margin-bottom: 5px;

        @include media(sm) {
            font-size: 28px;
        }

        @include media(lg) {
            font-size: 34px;
        }
    }

    p {
        font-size: 16px;
        line-height: 32px;
        margin-top: 50px;
        margin-bottom: 50px;

        @include media(sm) {
            font-size: 18px;
        }

        @include media(lg) {
            font-size: 20px;
        }
    }
}

.portrait {
    position: relative;
    // min-height: 300px;
    padding-top: 80%;
    overflow: hidden;

    @include media(sm) {
        min-height: 480px;
        padding-top: inherit;
    }

    @include media(md) {
        min-height: 550px;
    }

    .portrait__image {
        position: absolute;
        top: -10%;
        left: -40%;
        width: 180%;
        height: 180%;
        background-size: cover;
        background-position: center center;
    }
}

.section--about {
    color: $brand-secondary;

    .section__title {
        font-size: 34px;
        font-weight: normal;
        margin-bottom: 0;
        font-family: $font-family-sans-serif;
        font-style: italic;
    }

    p {
        font-size: 18px;
        line-height: 36px;
    }
}

.section--events {
    color: $brand-secondary;
    padding-top: 75px;
    padding-bottom: 75px;

    .section__title {
        font-size: 34px;
        font-weight: normal;
        color: $brand-primary;
        margin-bottom: 0;
    }

    .section__intro {
        font-size: 20px;
        line-height: 36px;
    }

    .row + .row {
        margin-top: 50px;
    }
}
