.global-footer {
    background-color: $brand-tertiary;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;

    strong {
        @include whitneySemibold();
    }

    @include media(md) {
        text-align: left;
    }

    a {
        color: #000;
    }

    ul {
        padding-left: 0;
        list-style-type: none;

        li {
            margin-bottom: 10px;

            a {
                @include whitneySemibold();
            }
        }
    }
}

.footer-sponsor-box {
    margin-bottom: 50px;
}

.footer-support-box {
    margin-bottom: 50px;

    p {
        margin-bottom: 0;
    }

    @include media(md) {
        border-left: 1px solid lightgray;
        padding-left: 50px;
    }
}

.footer-copyright {
    text-align: center;
}
